<%- include('header') %>
<!-- Section-->
  <section class="page-section mb-0" > 
    <div class="container my-section">
        <h1><%= __('LISTADO DE TAGS') %></h1>
        <% tags.forEach( function (tag) { %>
            <h3><%= tag %></h3>
        <% }) %>
    </div>
</section>
<%- include('footer') %>